<div class="flex flex-col md:flex-row justify-center md:justify-start m-5 md:space-x-5 xl:justify-center">
    <mat-card
      *ngFor="let person of personData"
      class="w-full md:w-auto h-fit my-2 md:my-0 xl:w-1/3"
    >
    <mat-card-header class="flex justify-center items-center">
      <mat-card-title class="text-nowrap">{{ person.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col justify-center items-center">
      <div
        *ngIf="person.images && person.images.length > 0"
        class="mx-auto mt-3 mb-4"
      >
        <img
          *ngFor="let image of person.images; let i = index"
          [src]="image"
          [class]="person.images.length === 1 ? 'w-full' : 'w-1/2'"
          class="inline-block"
        />
      </div>
      <p *ngFor="let line of person.bio" class="w-full text-left">
        {{ line }}
      </p>
      <div *ngIf="person.operations" class="w-full text-left">
        <div class="capitalize font-bold">Operations</div>
        <ul class="list-disc list-inside">
          <li *ngFor="let operation of person.operations">
            {{ operation }}
          </li>
        </ul>
        <br />
      </div>

      <div *ngIf="person.assignments" class="w-full text-left">
        <div class="capitalize font-bold">Assignments</div>
        <ul class="list-disc list-inside">
          <li *ngFor="let assignment of person.assignments">
            {{ assignment }}
          </li>
        </ul>
        <br />
      </div>

      <div *ngIf="person.achievements" class="w-full text-left">
        <div class="capitalize font-bold">Other Achievements</div>
        <ul class="list-disc list-inside">
          <li *ngFor="let achievement of person.achievements">
            {{ achievement.year }} - {{ achievement.description }}
          </li>
        </ul>
        <br />
      </div>

      <div class="w-full text-left">
        <div class="capitalize font-bold">Major Awards and Decorations</div>
        <ul class="list-disc list-inside">
          <li *ngFor="let award of person.awards">
            {{ award }}
          </li>
        </ul>
        <br />
      </div>

      <div class="w-full text-left">
        <div class="capitalize font-bold">Effective Dates of Promotion</div>
        <ul class="list-disc list-inside">
          <li *ngFor="let promotion of person.promotionDates">
            {{ promotion.rank }} - {{ promotion.date }}
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
