<div class="relative h-screen overflow-hidden">
  <img
    class="absolute w-full transform -translate-y-1/2"
    style="top: 25.5%"
    src="assets/images/e3.png"
    alt="E3"
  />
  <img
    class="absolute bottom-0 left-0 w-full max-h-1/4"
    src="assets/images/CRC.png"
    alt="CRC"
  />
  <!-- Text Overlay -->
  <div
    class="absolute w-full h-full flex items-center justify-center"
  >
    <span class="text-6xl text-center uppercase font-bold text-primary dark:text-dark-primary">Retirement Ceremony</span>
  </div>
</div>
